.customer {
  padding-right: 30px;
}

.customer .fa.fa-times {
  position: absolute;
  right: 10px;
  cursor: pointer;
  opacity: 0.3;
}

.customer .fa.fa-times:hover {
  opacity: 1;
}

.customer span {
  cursor: default;
  white-space: nowrap;
}

.customer .last-contact {
  color: grey;
  font-size: 14px;
}

.btn-primary {
  margin: 10px;
}

:host ::ng-deep .form .form-group {
  margin: 10px 20px;
}

:host ::ng-deep .form label {
  margin-right: 10px;
}

