<!--The content below is only a placeholder and can be replaced.-->
<ul class="customers list-group">
  <li class="customer list-group-item" *ngFor="let customer of customers">
    <i class="fa fa-times"
      (click)="deleteCustomer(customer)"
      title="Delete a customer"></i>
    <span>
      <span title="Customer Id">#{{ customer.customerID }}</span>
      <span title="Customer Full Name"><a [routerLink]="['customer-detail/', customer.customerID]">{{ customer.name.first }} {{ customer.name.last }}</a></span>
      <span title="Customer Lifetime Value">({{ customer.customerLifetimeValue }})</span>
    </span>
    <span class="last-contact" title="Last contact">Last contact: {{ customer.lastContact | date: 'dd/MM/yyyy' }}</span>
  </li>
</ul>
