h1 {
  font-size: 32px;
  font-weight: normal;
  word-wrap: break-word;
}

.issues-link {
  color: #586069;
  text-decoration: none;
}

:host ::ng-deep .form {
  max-width: 400px;
  padding: 0 10px;
}
